#md-content code {
  background-color: #3f4447;
  padding: 0 2px 0 2px;
}
#md-content a {
  color: var(--primary-color);
}
#md-content h1,
#md-content h2,
#md-content h3,
#md-content h4,
#md-content h5,
#md-content h6 {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 1.4;
  cursor: text;
}
#md-content h1:hover a.anchor,
#md-content h2:hover a.anchor,
#md-content h3:hover a.anchor,
#md-content h4:hover a.anchor,
#md-content h5:hover a.anchor,
#md-content h6:hover a.anchor {
  text-decoration: none;
}
#md-content h1 tt,
#md-content h1 code,
#md-content h2 tt,
#md-content h2 code,
#md-content h3 tt,
#md-content h3 code,
#md-content h4 tt,
#md-content h4 code,
#md-content h5 tt,
#md-content h5 code,
#md-content h6 tt,
#md-content h6 code {
  font-size: inherit;
}
#md-content h1 {
  padding-bottom: 0.3em;
  font-size: 2.2em;
  line-height: 1.3;
}
#md-content h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
}
#md-content h3 {
  font-size: 1.4em;
  line-height: 1.43;
}
#md-content h4 {
  font-size: 1.2em;
}
#md-content h5 {
  font-size: 1em;
}
#md-content h6 {
  font-size: 1em;
  color: var(--light-trait-300);
}
#md-content p,
#md-content blockquote,
#md-content ul,
#md-content ol,
#md-content dl,
#md-content table {
  margin: 0.8em 0;
}
#md-content li > ol,
#md-content li > ul {
  margin: 0 0;
}
#md-content hr {
  background-color: var(--light-trait-100);
  height: 1.5px;
  border: none;
}
#md-content a,
#md-content .md-def-url {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 0.05em solid;
  border-color: #37352f;
  opacity: 0.6;
  transition: all 0.1s ease-in;
}
#md-content a:hover {
  text-decoration: none;
  opacity: 1;
}
#md-content sup.md-footnote {
  background-color: #3f4447;
  color: #b1b3b4;
}
#md-content li p.first {
  display: inline-block;
}
#md-content ul,
#md-content ol {
  padding-left: 30px;
}
#md-content ul:first-child,
#md-content ol:first-child {
  margin-top: 0.35%;
}
#md-content ul:last-child,
#md-content ol:last-child {
  margin-bottom: 0;
}
#md-content mark,
#md-content .ty-file-search-match-text,
#md-content .md-search-hit {
  background: #5e3436;
  color: #eceded;
}
#md-content mark {
  border-radius: 4px;
  color: #edecea;
  font-weight: inherit;
  background-color: #4f4029;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
